{% extends 'layout.html' %} {% block body %}
<div class="jumbotron p-0">
    <h2 class="text-center">A little about this project</h2>
    <h4 style="line-height: 3rem">
        This project addresses the problem of analyzing sentiment on a social media website called Twitter; that is to identify and
        classify whether a tweet expresses a positive sentiment or a negative sentiment. Twitter is an online social networking
        and micro-blogging website where people from around the world communicate and write short updates, called as “tweets”
        without exceeding the character limit of 140 characters. It is a continuously expanding web service, having an average
        of 330 million monthly active users as of the fourth quarter of 2017 (Gil, 2018). This large number of users results
        in a lot of publicly available data that may be used to gather insight and to reflect the public sentiment by analyzing
        the tweets. There are many applications to performing sentiment analysis in today’s world in various fields and industries
        such as gathering market research insights, predicting political campaigns’ outcomes etc. Performing sentiment analysis
        with traditional techniques of using word dictionaries and lexicons becomes complex as the number of rules to be
        written keep increasing to tackle the raw natural language. The aim of this project is to investigate further into
        the domain of natural language processing, and develop a statistics based functional classifier and incorporate it
        with other classifiers for automating and performing accurate sentiment classification on desired tweets.
    </h4>
</div>
{% endblock %}