{% extends 'layout.html' %} {% block body %}
<div class="jumbotron text-center mb-3">
    <div class="mt-3">
        <h1 style="margin-bottom: 5rem;">Sentiment Analyzer</h1>
    </div>
    <!-- <p class="lead">A work in progress web application to perform sentiment analysis based on user input.</p> -->

    {% from "includes/_formhelpers.html" import render_field %}
    <form method="POST" action="">
        <a href="/sentiment" class="btn btn-lg btn-primary mr-3">Twitter Sentiment</a>
        <a href="/manualsentiment" class="btn btn-lg btn-success">Manual Sentiment</a>
        <!-- <a href="/dashapp" class="btn btn-danger">Live Sentiment</a> -->
    </form>
</div>
{% endblock %}