<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	{% if title %}
	<title>{{ title }}</title>
	{% else %}
	<title>Talal Flask App</title>
	{% endif %}
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	{% include 'includes/_navbar.html' %}
	<div class="container">
		{% include 'includes/_messages.html' %}
		{% block body %}{% endblock %}
	</div>
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>
