{% extends 'layout.html' %}

{% block body %}
    <div class="jumbotron text-center">
        <h1>Sentiment Analyzer</h1>
        <p class="lead">Enter a phrase or a sentence to test the capabiliy of the sentiment analyzer</p>
        <form method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="keyword" placeholder="Enter a keyword or #hashtag e.g. Avengers">
            </div>
            <div class="form-group">
                <input class="form-control" type="text" name="quantity" placeholder="How many tweets do you want?">
            </div>
            <div class="form-group">
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>
            <h1>{{ result }}</h1>
        </form>
    </div>
{% endblock %}